<a href="https://colab.research.google.com/github/Sravanthib123/python/blob/master/lists_and_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list
# ordered mutable (changeable) and allows duplicates. list is define using square brackets[]
#indexing
#LIST INDEXING you acess elements of alist using their position (index)
#list
list=[10,20,30]
print(list)
print(type(list))
#indexing
print(list[1])
list[1]=60
print(list)
#list slicing in python is a way to extract a portion (sublist) from a list
#syntax
#list[start:stop:step]
list=[10,20,30,40,50,60]
print(list[1:3:1])

##list methods
list= [10,20,30]
list.append([40,50])
print(list)
list.extend([60,70])
print(list)
list.insert(1,15)
print(list)
list.remove(20)
print(list)
list=[10,20,40]
a=list.index(40)
print(a)
s=list.count(10)
print(s)
list.pop()
print(list)
list.clear()
print(list)
list=[60,30,40]
list.sort()
print(list)
list=[60,30,40]
list.reverse()
print(list)
list.copy()
print(list)

[10, 20, 30]
<class 'list'>
20
[10, 60, 30]
[20, 30]
[10, 20, 30, [40, 50]]
[10, 20, 30, [40, 50], 60, 70]
[10, 15, 20, 30, [40, 50], 60, 70]
[10, 15, 30, [40, 50], 60, 70]
2
1
[10, 20]
[]
[30, 40, 60]
[40, 30, 60]
[40, 30, 60]

In [ ]:
#task-2
a=[0,1,2,3,4,5,6,7,8,9]
print(a[-7:-2:2])
a=[1,2,3,4,5,6,7]
print(a[5:1:-1])
a=['a','b','c','d','e','f']
print(a[::2][1:])
a=[1,2,3,4,5]
print(a[-100:3])
print(a[::-2])

[3, 5, 7]
[6, 5, 4, 3]
['c', 'e']
[1, 2, 3]
[5, 3, 1]

In [ ]:
#add elements to alist
a=["apple","grapes","mango"]
s=a.append("banana")
print(a)

['apple', 'grapes', 'mango', 'banana']

In [ ]:
#add element at a specific position
a=["apple","grapes","mango"]
s=a.insert(1,"banana")
print(a)

['apple', 'banana', 'grapes', 'mango']

In [ ]:
#delete a specific element
a=["apple","grapes","mango"]
s=a.remove("grapes")
print(a)

['apple', 'mango']

In [ ]:
#remove and reverse an element
a=["apple","grapes","mango"]
s=a.pop(1)
print(a)
s=a.reverse()
print(a)

['apple', 'mango']
['mango', 'apple']

In [ ]:
#sort elements in ascending order
a=[1,2,3,4,5]
s=a.sort()
print(a)

[1, 2, 3, 4, 5]

In [ ]:
#separate even and odd numbers
a=[1,2,3,4,5,6,7,8,9]
even_numbers = []
odd_numbers = []
for number in a:
  if number % 2 == 0:
    even_numbers.append(number)
  else:
    odd_numbers.append(number)
print("Even numbers:", even_numbers)
print("Odd numbers:", odd_numbers)

Even numbers: [2, 4, 6, 8]
Odd numbers: [1, 3, 5, 7, 9]

In [ ]:
#check password is present in list or not

In [ ]:
passwords = ["123", "secure", "mysecret"]
user_input = "secure"

if user_input in passwords:
  print("Password is in the list.")
else:
  print("Password is not in the list.")

Password is in the list.

In [ ]:
#sum of tuple
n=(1,2,3,4,5)
print(sum(n))

15

In [ ]:
#convert binary tuple to integers

In [ ]:
# convert binary tuple to integers
binary_tuple = ('101', '1101', '111')
integer_tuple = tuple(int(binary, 2) for binary in binary_tuple)
print(integer_tuple)

(5, 13, 7)

In [ ]:
# Get integer input from the user and store it in a list
n = list(map(int, input().split()))

# Convert the list of integers to a tuple
integer_tuple = tuple(n)

# Print the resulting tuple
print(integer_tuple)

In [ ]:
n_str = input().split()
integer_tuple = tuple(map(int, n_str))
binary_string = ''.join(n_str)
decimal_integer = int(binary_string, 2)
print(decimal_integer)
print(integer_tuple)

In [ ]:
n_str = input().split()
integer_tuple = tuple(map(int, n_str))
binary_string = ''.join(n_str)
decimal_integer = int(binary_string, 2)
print(decimal_integer)

In [ ]:
#sum of list elements
n=[3,5,2,8]
s=sum(n)
print(s)

In [ ]:
n = list(map(int,input().split()))
print(n[0],n[-1])

In [ ]:
list=[1,2,3,4,5]
print(tuple(list))

In [ ]:
n=(4,7,1,9,3)
print(max(n),min(n))
#second
a=sorted(n)
print(a)
print(a[0],a[-1])
#3rd
a=[10,20,30,40,50,60]
print(a[0],a[-1])