<a href="https://colab.research.google.com/github/Sravanthib123/python/blob/master/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10
b = 12.5
name = "sravanthi"
print(10)
print(name)
print(b)
print(type(a))
print(type(name))
print(type(b))

10
sravanthi
12.5
<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
num = {2,1,2,3,4,5,2,3,6,4,7,8,2,9}
print(num)
print(set(num))
print(type(num))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [ ]:
list = [1,2,"apple",4,5,6,7,8]
print(list)
print(list[4])
list[3]=12
print(list)

[1, 2, 'apple', 4, 5, 6, 7, 8]
5
[1, 2, 'apple', 12, 5, 6, 7, 8]

In [ ]:
tuple =(10,20,"kiet")
print(tuple)
print(tuple[2])
tuple[2]="sravs"
print(tuple)

(10, 20, 'kiet')
kiet

TypeError: 'tuple' object does not support item assignment

In [ ]:
dict ={1:'sita',2:'adhi',3:'saamu'}
print(dict)
dict[4]='sravs'#adding
print(dict)
dict["ramesh"]="cricket"
print(dict)

{1: 'sita', 2: 'adhi', 3: 'saamu'}
{1: 'sita', 2: 'adhi', 3: 'saamu', 4: 'sravs'}
{1: 'sita', 2: 'adhi', 3: 'saamu', 4: 'sravs', 'ramesh': 'cricket'}

In [ ]:
#inputs & outputs
a = int(input("enter the value of a="))
b = int(input("enter the value of b="))
#eg-1:string input
name = input("enter your name:")
print("hi",name)


# integer input
a = int(input("enter the value of a"))
b = int(input("enter the value of b"))
print(a+b)


# multiple inputs in one line
x,y = input("enter two numbers separated by comma:").split(",")




#eg1 simple output
print("hello,world!")

# using separate
print("hello","to","world",sep ="*")

#using without newline
print("loadind",end="...")

enter the value of a=1
enter the value of b=2
enter your name:sravs
hi sravs
enter the value of a1
enter the value of b2
3
enter two numbers separated by comma:1,2
hello,world!
hello*to*world
loadind...

In [ ]:
#comments
'''
rfffghkkjhgdereetuyuo
hfhjlkghh
ggjkjkk
hj
'''
print("helllo")

helllo

In [ ]:
#if statements
x = 10
if x > 5:
  print("x is greater than 10")

x is greater than 10

In [ ]:
#check whether number is postive
num = int(input("enter a number:"))
if num > 0:
  print("positive number")

enter a number:4
positive number

In [ ]:
#check whether number is divisible by both 3 and 5
num = int(input("enter a number:"))
if num % 3 == 0 and num % 5 == 0:

  print("divisible by 3 and 5")

enter a number:15
divisible by 3 and 5

In [ ]:
#check whether number is divisible by both 2 and 3
num = int(input("enter a number:"))
if num % 2 == 0 and num % 3 == 0:

  print("divisible by 2 and 3")

enter a number:12
divisible by 2 and 3

In [ ]:
# if-else statement
num = int(input("enter a number:"))
if num > 0:
  print("positive number")
else:
  print("negative number")

In [ ]:
# check whether number is even and odd
num = int(input("enter a number:"))
if num % 2 == 0:
  print("even number")
else:
  print("odd number")

enter a number:5
odd number

In [ ]:
#check if a person is eligiable to vote
age = int(input("enter your age:"))
if age >= 18:
  print("eligiable to vote")
else:
  print("not eligiable to vote")

enter your age:45
eligiable to vote

In [ ]:
# find the largest of two numbers
a = int(input("enter a number:"))
b = int(input("enter a number:"))
if a > b:
  print(a,"is greater")
else:
  print(b,"is greater")

enter a number:8
enter a number:6
8 is greater

In [ ]:
#find password is correct or nor
password = "sravanthi"
if password == "sravanthi":
  print("correct password")
else:
  print("incorrect password")

correct password

In [ ]:
#find the given number is leap year or not
year = int(input("enter a year:"))
if year % 4 == 0 and year % 100!=0 or year % 400==0:
  print("leap year")
else:

  print("not a leap year")

enter a year:2023
not a leap year

In [ ]:
#for loop
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(10):
  if i == 3:
    continue;
  print(i)

0
1
2
4
5
6
7
8
9

In [ ]:
for i in range(10):
  if i == 3:
    break;
  print(i)

0
1
2

In [ ]:
list =['sravs','saamu','sita','adhi']
for i in list:
  print(i)

sravs
saamu
sita
adhi

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
for i in l:
  if i%2==0:
    print(i)

2
4
6
8

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
for i in l:
  if i%2!=0:
    print(i)

1
3
5
7
9

In [ ]:
for i in range(10):
  if i%2==0:
    print(i)

0
2
4
6
8

In [ ]:
l1=[1,-1,-2,4,5,-3,7,8]
for i in l1:
  if i<0:
    print(i)

-1
-2
-3

In [ ]:
n = int(input("enter a number:"))
for i in range(1,11):
  print(n,"*",i,"=",n*i)

enter a number:3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [ ]:
n=int(input("enter a number:"))
for i in range(1,11):
  print(f"{n}*{i}={n*i}")

enter a number:5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [ ]:
for i in range(1,11):
  for j in range(1,11):
    print(i*j,end=" ")
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
#while loop
count = 0
while count<5:
    if count == 2:
        count += 1
    continue
    print(count)
    count += 1

In [ ]:
i =1
while i<=10:
    if i==7:
        i += 1
        continue
    print(i)
    i += 1

1
2
3
4
5
6
8
9
10

In [ ]:
#range
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
#using range print even or odd
n=int(input())
for i in range(2,n+1,2):
  print(i,end=' ')

10
2 4 6 8 10

In [ ]:
n=int(input())
for i in range(1,n+1,2):
  print(i,end=" ")

19
1 3 5 7 9 11 13 15 17 19

In [ ]:
#break
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [ ]:
#continue
for i in range([])

In [ ]:
while True:
  a=input()
  if a=="exit":
    break
  print(a)
print("hi")

exit
hi

In [ ]:
n=[4,-1,7,-3,0,9]
for num in n:
  if num<0:
    continue
  print(num)

4
7
0
9

In [ ]:
#stop printing characters on space
text="hello world"
for char in text:
  if char==" ":
    break
  print(char)

h
e
l
l
o

In [ ]:
#skip vowels
text="education"
vowels="aeiou"
for char in text:
  if char in vowels:
    continue
  print(char)

d
c
t
n

In [ ]:
#break on the first number>20
n=[5,10,15,20,25]
for num in n:
  if num>20:
      break
  print(num)

5
10
15
20

In [ ]:
#continue
for i in range(1,21):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
#break in while loop
i=1
while True:  #loop to run indefinitely
    if i == 8:
      break
    print(i)
    i += 1

1
2
3
4
5
6
7

In [ ]:
#continue in while loop
i=0
while i<10:
  i += 1
  if i == 3 or i == 6:
    continue
  print(i)

1
2
4
5
7
8
9
10

In [ ]:
n=[10,20,30,40,15,5,7]
total = 0
for num in n:
  total += num
  if total > 100:
    break
  print("sum:",total)

sum: 10
sum: 30
sum: 60
sum: 100

In [ ]:
string =['bat','apple','banana','cat','dog']
for word in string:
  if word.startswith('b'):
    continue
  print(word)

apple
cat
dog

In [ ]:
#nested loop with break
for i in range(1,4):
  for j in range(1,10):
    if i*j >20:
      break
    print(f"{i}*{j}={i*j}")

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18

In [ ]:
nums=[1,3,5,8,9]
for num in nums:
  if num%2==0:
    print("first even:",num)
    break

first even: 8

In [ ]:
#continue on divisible by 4 or 6
for i in range(1,15):
  if i%4==0 & i%6==0:
    continue
  print(i)

1
2
3
5
6
7
9
10
11
13
14

In [ ]:
text="abcdefghij"
for index,char in enumerate(text,1):
    if index%3==0:
      continue
    print(char)

a
b
d
e
g
h
j

In [ ]:
#PATTERNS
#left-handed triangle
for i in range(1,6):     #1,2,3,4,5
  print("*"*i)           #i=1,i=2

*
**
***
****
*****

In [ ]:
for i in range(5,0,-1):
  print("*"*i)

*****
****
***
**
*

In [ ]:
#right-handed triangle
n=int(input())
for i in range(1,n+1):
  print(""*(5-i)+"*"*i)

6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [ ]:
for i in range(1,6):
  print(""*(5-i)+"*"*i)

*
**
***
****
*****

In [ ]:
for i in range(5,0,-1):
  print(" "*(5-i)+"*"*i)

*****
 ****
  ***
   **
    *

In [ ]:
n=int(input())
for i in range(n,0,-1):
  print(" "*(5-i)+"*"*i)

5
*****
 ****
  ***
   **
    *

In [ ]:
#pyramid
for i in range(1,6):
  print(" "*(5-i) +"* "*i)

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
for i in range(5,0,-1):
  print(" "*(5-i)+"* "*i)

* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
#full square
for i in range(1,6):
  print("* "*5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
#hollow square
for i in range(5):
  for j in range(5):
    if i==0 or i==4 or j==0 or j==4:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
#cross pattern
n=5
for i in range(n):
  for j in range(n):
    if i==j or j==n-i-1:
      print("*",end=" ")
    else:
      print(" ",end=' ')
  print()

*       *
  *   *
    *
  *   *
*       *

In [ ]:
#number triangle
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end="")
  print()

1
12
123
1234
12345

In [ ]:
#Alphabet triangle
for i in range(65,70):
  for j in range(65,i+1):
    print(chr(j),end="")
  print()

A
AB
ABC
ABCD
ABCDE

In [ ]:
#functions
def Hi():
  print("sravanthi")
Hi()

sravanthi

In [ ]:
#Using function
def students():
  return 80
tol_stu=students()
print("total students:",tol_stu)
#without function
def students():
  return 80
tol_stu=students
print("total students:",80)

total students: 80
total students: 80

In [ ]:
def hi(a,b):
  c=a+b
  print(c)
hi(3,4)

7

In [ ]:
#positional arguments
def Hi(name):
  print("hello",name)
Hi("sravs")

hello sravs

In [ ]:
#default arguments
def hi(name="sravs"):
  print("hello",name)
hi()
hi("vyshu")

hello sravs
hello vyshu

In [ ]:
#keywords arguments
def students(name,age):
  print("name:",name)
  print("age:",age)
students(age=21,name="vijju")

name: vijju
age: 21

In [ ]:
#find the sum of even number using args

In [ ]:
#types of functions
#1.no arguments,no return values
def fun():
  print("keep smiling")
fun()

keep smiling

In [ ]:
#2.arguments,no return values
def fun(name):
  print("hello",name)
fun("sravs")

hello sravs

In [ ]:
#3.no arguments, with return values
def hi():
  return "friends"
  value=hi()
  print("wishes",value)

In [ ]:
#4.arguments,return values
def fun(name):
  return "hello",name
print(fun("sravs"))

('hello', 'sravs')

In [ ]:
#call by value
def modify(x):
  x=x+5
  print("inside function:",x)
a=1
modify(a)
print("outside function:",a)

inside function: 6
outside function: 1

In [ ]:
#call by reference
def add_item(my_list):

  my_list.append(99)
  print("inside function:",my_list)

numbers=[1,2,3]
add_item(numbers)
print("outside function:",numbers)

inside function: [1, 2, 3, 99]
outside function: [1, 2, 3, 99]

In [ ]:
#lambda
add=lambda x,y:x+y
print(add(2,3))
#lambda no arguments
greet=lambda:print("hello")
greet()
#lambda one arguments
square=lambda x:x*x
print(square(3))

5
hello
9

In [ ]:
n=[1,2,3,4]
square=list(map(lambda x:x*x,n))
print(square)

[1, 4, 9, 16]

In [ ]:
names=['amala','archana','saamu']
upper_names=list(map(lambda x:x.upper(),names))
print(upper_names)

['AMALA', 'ARCHANA', 'SAAMU']

In [ ]:
#multiples of 3 using lambda
n=[1,2,3,4,5,6,7,8,9]
multiples_of_3=list(filter(lambda x:x%3==0,n))
print(*multiples_of_3)

3 6 9

In [ ]:
#Scope
#local variable
def hi():
  name="anu"
  print("hello",name)

hi()

hello anu

In [ ]:
#gobal variable
name="sravs"
def hi():
  print("hello",name)
hi()


# enclosing variable
def outer():
  x=10
  def inner():
    nonlocal x
    x+=5
    print("inner:",x)
  inner()
  print("outer:",x)
outer()

#bulit_in scope
x=[1,2,3,4,5]
print(sum(x))
print(max(x))
print(min(x))
print(len(x))

hello sravs
inner: 15
outer: 15
15
5
1
5

In [ ]:
def greet(*args):
  for name in args:
    print("hello",name)
greet("sravs","saamu","sita")

hello sravs
hello saamu
hello sita

In [ ]:
def show(*args):
  for i in args:
    print(i)
data=(1,2,3,4,5,6)
show(*data)
show(data)

1
2
3
4
5
6
(1, 2, 3, 4, 5, 6)

In [ ]:
#kwargs
def show(**kwargs):
  print(kwargs)
show(name="sravs",age=21)

{'name': 'sravs', 'age': 21}

In [ ]:
#recursion
#recursion is a technique where a function call itself to solve smaller instances of the same problem.
#def function_name():
# base condition to stop recursion
     #recursive call(with a smaller/simpler input)
def x(n):
  if n==0:
    print("hello off!")
    return
  print(n)
  x(n-1)
x(5)

5
4
3
2
1
hello off!

In [ ]:
#factorial
def factorial(n):
  if n<1:
    return 1
  return n*factorial(n-1)
print(factorial(6))

720

In [ ]:
#count the digits of a number
#input:456
#output:3
def count_digits(n):
  if n<10:
    return 1
  return 1+count_digits(n//10)
print(count_digits(456))

In [ ]:
#differenceofsum