<a href="https://colab.research.google.com/github/Sravanthib123/python/blob/master/python_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#sum of cubes
m = int(input())
n = int(input())
total = 0
for i in range(m, n+1):
    total += i**3
print(total)

2
5
42

In [ ]:
#armstrong number
n=int(input())
digits = len(str(n))
sum_of_digits = 0
temp = n
while temp > 0:
    digit = temp % 10
    sum_of_digits += digit ** digits
    temp //= 10

if n == sum_of_digits:
    print("armstrong")
    print(sum_of_digits)
else:
    print("false")

153
armstrong
153

In [ ]:
# dictionary
student_dict={"ram":"cricket","naresh":"football","vani":"tennis","rahim":"cricket"}
student_dict["ramesh"] = "cricket"
print(student_dict)

{'ram': 'cricket', 'naresh': 'football', 'vani': 'tennis', 'rahim': 'cricket', 'ramesh': 'cricket'}

In [ ]:
n = int(input())
list =[ ]
for i in range (n):
  num = int(input())
  list.append(num)
print(list)

4
1
2
4
5
[1, 2, 4, 5]

In [ ]:
n = input()
for char in n[::-1]:
    print(char)

swarna
a
n
r
a
w
s

In [ ]:
n=int(input())
for i in range (0,n+1):
  if i%2==0:
    print(f"{i} EVEN")
  else:
    print(f"{i} ODD")

3
0 EVEN
1 ODD
2 EVEN
3 ODD

In [ ]:
#perfect squares
a = int(input())
b = int(input())
count = 0
for i in range(1,b+1):
    if i*i >= a and i*i <= b:
        count += 1
print(count)

1
100
10