<a href="https://colab.research.google.com/github/Sravanthib123/python/blob/master/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# a tuple is an ordered,immutable collection of items.once created,the elements of a tuple cannot be changed(unlike a list)
t=(10,20,30)
print(t)
#tuple operations
t=(1,2,3,4,5,6)
print(type(t))
print(len(t))
print(t[2])
print(t[1:4])
print(1 in t)
print(t+(40,50))
print(10 in t)
print(10 not in t)

(10, 20, 30)
<class 'tuple'>
6
1
2
3
(2, 3, 4)
True
(1, 2, 3, 4, 5, 6, 40, 50)
(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)
False
True

In [ ]:
#tuple methods
#count(x):counts how many times x appears
#index(x):returns the first index of value x
t=(10,20,30,10,20)
print(t.count(10))
print(t.index(20))

2
1

In [ ]:
#task-3
#what is a tuple in python
#how do you create an empty tuple
#how do you access the third elements of a tuple
#what will len(5,10,15)return
t=(5,10,15)
print(t)
t=()
print(t)
t=(10,20,30)
print(t[2])
print(len(t))
t=(5,"apple",5.0,True)
print(t)

(5, 10, 15)
()
30
3
(5, 'apple', 5.0, True)

In [ ]:
t=(1,2,(3,4))
print(t[2][1])

4

In [ ]:
a=(1,3)
b=(4,2)
print(a+b)

(1, 3, 4, 2)

In [ ]:
x=[1,2,3]
y=x[:]
y[0]=100
print(x)

[1, 2, 3]

In [ ]:
tuple('hello')

('h', 'e', 'l', 'l', 'o')

In [ ]:
list=[i for i in range (5)]
list[2:4]=[10,11,12]
print(list)

[0, 1, 10, 11, 12, 4]

In [ ]:
fruits=['apple','mango','grapes']
print(tuple(fruits))

('apple', 'mango', 'grapes')

In [ ]:
#task-4
t=(1,2,2,3,4,5,6,72,1,3,2)
print(set(t))

{1, 2, 3, 4, 5, 6, 72}

In [ ]:
#tuple of squares
t=(1,2,3,4,5)
print(tuple(i**2 for i in t))

(1, 4, 9, 16, 25)

In [ ]:
#merge two tuples and sort
t1=(1,2,3)
t2=(6,5,4)
t3=t1+t2
print(tuple(sorted(t3)))

(1, 2, 3, 4, 5, 6)

In [ ]:
#find the tuples which have all elements divisible by k from a list of tuples
t=[(1,2,3),(4,5,6),(7,8,9),(10,11,12)]
k=3
for i in t:
    if all(j%k==0 for j in i):
        print(i)

In [ ]:
#find the tuples which have all elements divisible by k from a list of tuples with user input
t=[]

In [ ]:
# Get user input for the list of tuples
t_input = input("Enter a list of tuples (e.g., [(1,2,3),(4,5,6)]): ")
# Safely evaluate the input string as a Python literal
try:
    t = eval(t_input)
    if not isinstance(t, list) or not all(isinstance(item, tuple) for item in t):
        print("Invalid input. Please enter a list of tuples.")
        t = [] # Reset t if input is invalid
except:
    print("Invalid input. Please enter a list of tuples.")
    t = [] # Reset t if input is invalid

# Get user input for k
try:
    k = int(input("Enter an integer value for k: "))
except ValueError:
    print("Invalid input. Please enter an integer for k.")
    k = None # Set k to None if input is invalid

# Find and print tuples where all elements are divisible by k
if t and k is not None:
    print(f"\nTuples where all elements are divisible by {k}:")
    for i in t:
        if all(j % k == 0 for j in i):
            print(i)
elif not t:
    print("No tuples were entered.")
elif k is None:
    print("Invalid value for k entered.")